<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edgehill.mad.mymedicare" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabTest"
            android:label="@string/title_activity_tab_test" >
        </activity>
        <activity
            android:name=".HeartRate"
            android:label="@string/title_activity_heart_rate" >
        </activity>
        <activity
            android:name=".NewUser"
            android:label="@string/title_activity_new_user"
            android:parentActivityName=".WelcomeScreen" >

            <!--
            parentActivityName is only available on API level 16+ for android 4.0 using the
            support libraries the meta-data tag android.support.PARENT_ACTIVITY is used to refer
            to the Activities parent for navigation.
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edgehill.mad.mymedicare.WelcomeScreen" />
        </activity>
        <activity
            android:name=".ExistingUser"
            android:label="@string/title_activity_existing_user"
            android:parentActivityName=".WelcomeScreen" >

            <!-- Workaround for API level 15 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edgehill.mad.mymedicare.WelcomeScreen" />
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen" >
        </activity>
    </application>

</manifest>
